/*This section has a CSS code not gone through in class (#1) - I changed the background opacity*/
body {
background-image: url('dark_wood.png');
opacity: 0.5;
}
p {
color: white;
font-weight: bold;
font-family: "Arial";
}
/*This section has a CSS code not gone through in class (#2) - Added an outline style */
span {
    color: #FFBC00;
    font-weight: bold;
    font-family: "Arial";
    outline-style: outset;
}
h3 {
color: #FFBC00;
font-size: 40px;
font-family: "Passion One";
margin-bottom: 0px;
}
a {
    color: white;
    font-weight: bold;
    font-size: 24px;
}
li {

}
/*This section has a CSS code not gone through in class (#3, #4, #5) - Added text decoration, text decoration color, and text transformed into uppercase */
#Header {
    text-decoration: underline;
    text-decoration-color: white;
    text-transform: uppercase;
    background-color: #8E41D5;
    outline: gold solid 10px;
border: solid 8px black;
width: 500px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px; 
text-align: center;
}
#Header h1 {
font-size: 60px;
font-family: "Passion One";
color: #ffbc00;
font-weight: bold;
}
#LeftNav {
    text-align: center;
    border: solid 8px black;
    width: 400px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #8E41D5;
}
#LeftNav img{

}
#LeftNav ul{
list-style-type: none;
padding-left: 0px;
padding-bottom: 8px;
background-color: #8E41D5;
}
#LeftNav h3{

}
#Content {
    text-align: center;
    border: solid 8px black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #8E41D5;
}
#Footer {
    background-color: #8E41D5;
    text-align: center;
    border: solid 8px black;
}
#Footer ul{
    list-style-type: none;
}